#cuadrados{ 
    display: flex;
    padding: 10px;
    position: fixed;
}

.rojo{
    background-color: red;
    color: yellow;
    font-size: 50px;
    width: 320px;
    height: 320px;
    margin-right: 15px;
}

.negro{
    background-color: black;
    color: white;
    font-size: 50px;
    width: 320px;
    height: 320px;
    margin-right: 15px;
}