* {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
  }
body {
    padding-right: 2.7px;
  }
.logo {
    width: 100px;
    height: 57px;
  }
nav {
    background-color: #353a40;
    height: 100px !important;
  }
.comprar {
    color: rgba(47, 255, 75, 0.514) !important;
  }
.conf-ba{
      padding-top: 150px;
      padding-right: 80px;
      color: white;
  }
main{
      height: 570px;
      background-image: url(./img/ba1.jpg); 
      background-size: 1500px;
  }
.btn{
       margin: 8px;
  }
.oradores{
    text-align: center;
}
#conoceMas{
    display: flex;
         
}
.gris{
    background-color: rgb(58, 57, 57);
    color: white;
    width: 675px;
    height: 400px;
    padding: 20px;
}
img{
    width: 675px;
    height: 400px;
}
.titulo{
    text-align: center;
    padding-top: 30px;
}
.puntos{
    text-decoration: underline;
    text-decoration-style: dotted;
}
.form{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.datos {
    width: 300px;
    margin: 10px;
}
.form-control{
    height: 159px;
    width: 620px;
}
.btn{
    width: 620px;
    margin: 20px;
}
footer{
    background-color: rgb(17, 39, 80);
    padding: 20px;
    height: 80px;
    text-align: center;
    align-items: center !important;
    vertical-align: middle !important;
    font-size: small;
    color:white;
}